<!-- HTML Document Header -->
<html lang="en">
<head>
    <!-- Meta tags for character set, viewport settings, and title -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovelNest Bookstore</title>
    <!-- Link to external stylesheet and JavaScript file -->
    <link rel="stylesheet" href="/css/styles.css">
    <script type = "text/javascript" src="/js/scripts.js"></script>
</head>

<body>

     <!-- Brand Section -->
     <section class="brand">
        <!-- Header section containing the bookstore brand -->
        <h1>NovelNest Bookstore - Your Destination for Literary Exploration!</h1>
    </section>

    <!-- Header Section with Navigation Links -->
    <header>
        <div class="topnav">
            <a href="/" class="active"><i class="fas fa-home"></i> Home</a>
            <a href="book"><i class="fas fa-book"></i> Books</a>
            <a href="author"><i class="fas fa-user"></i> Authors</a>
            <a href="publisher"><i class="fas fa-building"></i> Publishers</a>
            <a href="location"><i class="fas fa-map-marker-alt"></i> Books published Location</a>
            <a href="category"><i class="fas fa-tags"></i> Books Category</a>
            <a href="format"><i class="fas fa-file-alt"></i> Books Format</a>
            <a href="cover"><i class="fas fa-image"></i> Books Cover</a>
            <a href="inventory"><i class="fas fa-list"></i> Books Inventory</a>
        </div>
    </header>
    
    <!-- Main Content Section -->
    <section class="instructions">
        <!-- Instructions for users to search for books -->
        <h1>Welcome to the Books Page!</h1>
        <p>Search for your favorite books using the search bar below. Choose a category to refine your search and discover a world of literary wonders.</p>
    </section>
    
    <!-- Search Forms -->
    <div class="search-container">
        <!-- Search forms for searching by title, author, publisher, and category -->
        <form action="/" method="POST">
            <input type="text" name="keyword" placeholder="Search by Title">
            <input type="submit" value="Search">
        </form>
    </div>

        <!-- Sorting Buttons -->
    <div class="sort-buttons">
        <!-- Buttons to sort the table based on different criteria -->
        <button onclick="sortTable_Int_Float(0)">Sort by ID</button>
        <button onclick="sortTable_Int_Float(1)">Sort by ISBN</button>
        <button onclick="sortTable(2)">Sort by Title</button>
        <button onclick="sortTable_Int_Float(3)">Sort by Year</button>
        <button onclick="sortTable_Int_Float(4)">Sort by Price</button>
        <button onclick="sortTable_Int_Float(5)">Sort by Rating</button>
        <button onclick="sortTable_Int_Float(6)">Sort by Length</button>
    </div>

    <!-- Table Display -->
    <form action="/book" method="GET">
        <br>
        <table border="1" id="table">
            <tr>
                <th>id</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Year</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Length</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Location</th>
                <th>Category</th>
                <th>Format</th>
            </tr>
            <!-- Conditional Rendering based on Data Availability -->
            <% if (book.length == 0) { %>
                <!-- Display a message if no books are found -->
                <tr>
                    <td colspan="16">No book title named <%=search%></td>
                </tr>
                <% } else { %>
                    <!-- Loop to iterate through book data and populate the table -->
                    <% for(var i = 0; i < book.length; i++) { %>
                        <tr>
                            <td><%=book[i].id%></td>
                            <td><%=book[i].ISBN%></td>
                            <td><%=book[i].title%></td>
                            <td><%=book[i].year%></td>
                            <td><%=book[i].price%></td>
                            <td><%=book[i].rating%></td>
                            <td><%=book[i].length%></td>
                            <td><%=book[i].author_id%></td>
                            <td><%=book[i].publisher_id%></td>
                            <td><%=book[i].location_id%></td>
                            <td><%=book[i].category_id%></td>
                            <td><%=book[i].format_id%></td>
                        </tr>
                    <% } %>
                <% } %>
            </table>
        </form>
    </body>
</html>